<%- include("./partials/head.ejs") %> 
<body>
    <script src="/socket.io/socket.io.js"></script>

    <div id="Main-container">
        <h2>Simple Chat</h2>
       
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="Handle" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
    <script src="/websocket.js"></script> 
    
</body>

